body{
  font-family: 'Calibri', sans-serif;
}

.about-me{
  display: inline-block;
}

nav ul{
  display: inline-block;
}

form{
  background-color: lightgray;
  display: inline-block;
  padding: 10px;
}

h2, h3 {
  font-size: 16pt;
}

div iframe{
  height:300px;
  width: 450px;
}

section {
  display: block;
  margin: auto;
}

fieldset{
  border: none;
}

.buttonholder{
  text-align: center;
}
