body{
	padding:20px;
	margin:20px;
}

legend {
	padding-top:20px;
	font-weight: bold;
}

#title {
		padding-bottom: 20px;
}

h4{
	color: #1da1f2;

}

legend{
	font-size: 100%;
}

label{
	font-weight: normal;
}
