#title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.75rem;
    color: #ffffff;
}

body{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  padding-left: 0 10px;
}

a.pull-left{
  width:40px;
  height: auto;
}

img.navbar-brand{
  height: 40px;
}
.bg-dark, .jumbotron{
  background-color: #1da1f2!important;
}

h1 {
  font-size: 1.75rem;
}

h2{
  font-size: 1.25rem;
}


#download-resume a{
  color:#1da1f2;
}


footer.container{
  background-color: #1da1f2;
  padding: 6px 0;
  max-width: none;
}

iframe{
  padding-bottom: 10px;
}



footer {
  color: #ffffff;
  font-size: 12px;
  box-shadow: 0 50vh 0 50vh #1da1f2;
}
}

div.jumbotron{
  /* margin-bottom: 0; */
}

.btn-primary{
  background-color: #1da1f2;
  border-color: #ffffff;
  color: #ffffff;
}



.card-body{
  background-color: #f8f9fa!important;
}

.pb-5, .py-5{
  padding-bottom: 0;
  padding-top: 0!important;
}

.bg-light{
  background-color: #ffffff!important;
}

main{
  padding-bottom: 30px;
  padding-top: 30px;
}

/* img.img-fluid.align-middle.me{
  max-width:350px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
} */

div.card-body{
  max-height: 85px;
}

p.card-text{
  color: black;
}



#about-start{
    padding-top: 30px;
}

.blue{
  color: #1da1f2;
}

div.card{
  max-width: 355px;
  height: 312px;
}

div.row div.card{
  margin: 0 auto; /* Added */
  float: none; /* Added */
}

#carouselExampleIndicators{
  max-width: 690px;
  max-height: 591px;
}

#carouselExampleIndicators1{
  max-width: 660px;
  max-height: 566px;
}

#carouselExampleIndicators2{
  max-width: 690px;
  max-height: 592px;
}

.resume-area{
  max-width: 650px;
}

#me-photo{
  max-width:355px;
  max-height: 264px;
}

h1{
  margin-bottom: 2rem;
}

div.col-xl-4.col-lg-6.col-md-6.col-sm-12{
  max-width: 368px;
  padding-right: 15px;
  padding-left: 15px;
}

.front-sub{
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-5{
  padding-bottom: 0!important;
}

@media (max-width:575px){
  .album{
    padding-left: 15px;
  }
}

@media (min-width: 767.98px) {
  h1 {
    font-size: 2.25rem;
  }

  h2{
    font-size: 1.75rem;
  }
  #title{
    font-size: 2.25rem;
  }

  #about-start{
      padding-top: 0;
  }

  .front-sub{
    font-size: 1.25em;
  }

}

@media (min-width: 991.98px) {
  div.card{
    min-width: 350px;
  }

  div.row div.card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
  }

  h1 {
    font-size: 2.5rem;
  }

  h2{
    font-size: 2rem;
  }

  #title{
    font-size: 2.5rem;
  }

  #me-photo{
    margin: 0!important;
  }
}

@media (max-width: 1199px;){

}
