/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper-navbar{
  position: relative;
  width: 100%;
}

.navbar{
  width: 100%;
}
header {
  background-color: #1da1f2;
}

header p {
  display: inline-block;
}

header a {
  display: flex;
  float: right;
  color: white;
}

/* header ul li {
  float: right;
} */

header ul li a {
  display: block;
}

/* * {
    box-sizing: border-box;
} */

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

 /* .project{
  height: 80%;
} */

.project img.snapshot{
  width: 80%;
}

.a {
  grid-row: 1/2;
  grid-column: 1/2;
}

.b {
  grid-row: 1/2;
  grid-column: 2/3;

}

.c {
  grid-row: 1/2;
  grid-column: 3/4;
}

.d {
  grid-row: 2/3;
  grid-column: 1/2;

}

.e {
  grid-row: 2/3;
  grid-column: 2/3;

}

.f {
  grid-row: 2/3;
  grid-column: 3/4;

}
